__pycache__
3_little_pigs_es.txt
3_little_pigs_es.txt.json
3_little_pigs_br.txt
3_little_pigs_br.txt.json
3_little_pigs_en.txt
3_little_pigs_en.txt.json
3_little_pigs_PM.txt
3_little_pigs_PM.txt.json
credentials.json