<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841448231741-vsdd9mg60md9ntgt7l3clh6d9if4ntur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841448231741-vsdd9mg60md9ntgt7l3clh6d9if4ntur</string>
	<key>API_KEY</key>
	<string>AIzaSyAM5u79J_u2i7uOBUSlQFBOy3WnczxoEPU</string>
	<key>GCM_SENDER_ID</key>
	<string>841448231741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storymev50b2</string>
	<key>PROJECT_ID</key>
	<string>storyme-dcd11</string>
	<key>STORAGE_BUCKET</key>
	<string>storyme-dcd11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841448231741:ios:29e259fb96f7b4f5212b54</string>
	<key>DATABASE_URL</key>
	<string>https://storyme-dcd11-default-rtdb.firebaseio.com</string>
</dict>
</plist>